body {
    margin: 0;
    padding: 0;
    background-color: darkblue;
}

.mainContainer {
    width: 100%;
    display: block;
}
hr{
    display: none;
}

.header {
    background-color: rgb(30, 30, 83);
    padding: 10px 0px;
}

.container {
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.first {
    display: grid;
    grid-template-columns: auto auto;
    margin: 30px 0px 30px 0px;
}

.text {
    padding: 130px 10px;
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.text1 {
    padding: 100px 20px;
    font-weight: bold;
    color: white;
}

.img {
    padding: 40px 5px;
}

#img {
    height: 480px;
}

.content1 {
    padding: 10px 400px;
    font-weight: bold;
    font-size: 35px;
    margin-top: 50px;
    color: white;

}

.content2 {
    padding: 0px 290px;
    font-size: 15px;
    margin-top: 30px;
    color: white;
}

.content3 {
    padding: 0px 345px;
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
}

.servicesContent {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;

}

.main {
    margin-top: 20px;
}

.main2 {
    margin-bottom: 100px;
}

.notification {
    margin-top: 30px;
    margin-right: 15px;
    padding-bottom: 50px;
    color: white;
    background-color: rgb(30, 30, 83);
}

.support {
    padding-bottom: 50px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    background-color: rgb(30, 30, 83);
}

.ultimate {
    padding-bottom: 50px;
    margin-top: 30px;
    margin-left: 15px;
    color: white;
    background-color: rgb(30, 30, 83);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
    color: white;
    border-bottom: 1px solid #ddd;
}

.image1 {
    border: 2px solid red;
}

.image2 {

    width: 500px;
    height: 370px;
    margin: 80px 0px 30px 0px;
}

.image3 {
    height: 500px;
}

.color {
    color: white;
}

#not-ult {
    padding: 10px 65px;
    font-size: 25px;
    font-weight: bold;
}

#not-ult1 {
    padding: 5px 30px;
}

#not-ult2 {
    padding: 5px 30px;
}

#not-ult3 {
    padding: 5px 75px;
}

#support {
    padding: 10px 55px;
    font-size: 25px;
    font-weight: bold;
}

#support1 {
    padding: 5px 30px;
}

#support2 {
    padding: 5px 20px;
}

#support3 {
    padding: 5px 65px;
}

.roadmap {
    margin: 50px 0px 20px 0px;
    padding: 10px 450px;
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.Cprices {
    margin-top: 60px;
    padding: 10px 400px;
    color: white;
    font-weight: bold;
    font-size: 35px;
}


#hi {
    color: white;
}

#hii {
    color: white;
}

#hiii {
    color: white;
}

.team {
    margin: 60px 0px 30px 0px;
    padding: 10px 450px;
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.line {
    margin: 10px 50px 40px -10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    padding: 30px 20px;
}

#inbus {
    font-size: 30px;
}

#crypto {
    font-size: 15px;
    font-weight: normal;
    margin-top: 20px;
}

#goods {
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
}

#assets {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
}

.analytic {
    border-radius: 20px;
    margin-top: 40px;
    height: 40px;
    width: 150px;
    background: linear-gradient(to right, #ff9999 0%, #ffcc00 150%);
}

.app {
    font-size: 30px;
}

.frequent {
    padding: 0px 295px;
    font-weight: bold;
    font-size: 35px;
    margin-top: 80px;
    color: white;
}

.q1 {
    float: left;
    margin-top: 15px;
    margin-bottom: 90px;
}

.q2 {
    margin-bottom: 90px;
    margin-top: 15px;
}

.ford {
    border: 1px solid yellow;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-top: 50px;
}

.fordimg {
    height: 100px;
    width: 120px;
}

.fordimg1 {
    height: 100px;
    width: 120px;
    padding-left: 50px;
}

.last {
    background-color: rgb(30, 30, 83);
    display: grid;
    grid-template-columns: 30% 20% 30% 20%;
    margin-top: 100px;
}



.hr {
    margin: 20px 0px;
    height: 1px;
    border-width: 0;
    background-color: #D4E0F9;
}

.lasttext {
    padding: 30px 400px;
    color: white;
}

.timeline {
    padding: 30px 0 10px 0;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 100%;
}

.entry {
    vertical-align: top;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: relative;
}

.entry:after {
    content: '';
    background: #eee;
    width: 7px;
    height: 7px;
    border-radius: 6px;
    border: 3px solid orange;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -6px;
}

.entry:before {
    content: '';
    background: #06182E;
    width: 5px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -2px;
}

.entry h1 {

    font-size: px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 30px;
}

.entry h2 {
    color: grey;
    margin-top: 10px;
    font-size: 14px;
}

.bar {
    height: 4px;
    background: #eee;
    width: 85%;
    position: relative;
    top: 13px;
    left: 8.5%;

}

#imagew1 {
    width: 95%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#imagem1 {
    width: 95%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#imagew2 {
    width: 95%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#imagem2 {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 50px;
}

#road {
    background-color: white;
    color: black;
    height: 120px;
    width: 180px;
    margin-left: 40px;

}

#now {
    background: linear-gradient(to left, #ff9999 0%, #ffcc00 150%);
    margin-top: 20px;
    font-size: 20px;
    height: 40px;
    padding-top: 11px;
    font-weight: bold;
    color: white;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 83);
    height: 50px;
    margin-right: 100px;

}

li {
    float: right;
    padding-right: 30px;
    padding-top: 5px;
    font-size: 20px;

}

li a {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
}

#logo {
    float: left;
    margin-left: 150px;

}

.icon {
    margin-left: 160px;
    margin-top: 20px;
}

#gp1 {
    height: 70px;
    width: 150px;
    margin-top: 20px;
}

#gp2 {
    height: 60px;
    width: 150px;
    
}








@media only screen and (max-width: 420px) {
    .container {
        width: 100%;

    }

    .header {
        width: 100%;
        background-color: rgb(30, 30, 83);
    }

    .img {
        display: none;
    }

    .text {
        padding: 50px 20px;
        font-size: 30px;
    }

    .first {
        display: grid;
        grid-template-columns: auto;
    }

    .content1 {
        padding: 10px 100px;
        font-weight: bold;
        font-size: 20px;
        margin-top: 50px;
        color: white;
    }

    .content2 {
        padding: 0px 20px;
        font-size: 12px;
        margin-top: 30px;
        color: white;
    }

    .content3 {
        padding: 0px 20px;
        font-size: 13px;
        color: white;
    }

    .servicesContent {
        display: grid;
        grid-template-columns: 90%;

    }

    .notification {
        margin: 40px 0px 10px 35px;
    }

    .support {
        margin: 40px 0px 10px 35px;
    }

    .ultimate {
        margin: 40px 0px 10px 35px;
    }

    #not-ult {
        padding: 10px 38px;
    }

    #not-ult1 {
        padding: 5px 10px;
    }

    #not-ult2 {
        padding: 5px 5px;
    }

    #not-ult3 {
        padding: 5px 40px;
    }

    #support {
        padding: 10px 35px;
    }

    #support1 {
        padding: 5px 10px;
    }

    #support2 {
        padding: 5px 5px;
    }

    #support3 {
        padding: 5px 35px;
    }

    .Cprices {
        width: 100%;
        padding: 10px 100px;
        font-size: 20px;
    }

    table {
        width: 80%;
        margin: 20px 10px 0px 20px;
        overflow: hi;
    }

    th,
    td {
        padding: 10px;
        text-align: left;
        padding-left: 28px;
        color: white;
    }

    #hi {
        display: none;
    }

    #hii {
        display: none;
    }

    #hiii {
        display: none;
    }

    .team {
        margin: 60px 0px 30px 0px;
        padding: 10px 95px;
    }

    .line {
        margin: 30px 0px 30px 0px;
        display: grid;
        grid-template-columns: auto;
        padding: 0;
    }

    #imagem2 {
        width: 95%;
    }

    #inbus {
        font-size: 25px;
    }

    .first {
        display: grid;
        grid-template-columns: auto;
    }

    #crypto {
        font-size: 15px;
        font-weight: normal;
        margin-top: 20px;
    }

    #goods {
        font-size: 15px;
        font-weight: normal;
        margin-top: 10px;
    }

    #assets {
        font-size: 15px;
        font-weight: normal;
        margin-top: 10px;
    }

    .analytic {
        border-radius: 20px;
        margin-top: 40px;
        height: 40px;
        width: 150px;
        background: linear-gradient(to right, #ff3300 0%, #ffff00 100%);
    }

    .image2 {
        width: 300px;
        height: 380px;
        margin: 0px 40px 30px 30px;
    }

    .text1 {
        padding: 50px 20px;
        font-weight: bold;
        color: white;
    }

    .image3 {
        margin-left: 50px;
    }

    #gp1 {
        height: 60px;
        width: 180px;
        margin-top: 20px;
        margin-left: 70px;
    }

    #gp2 {
        height: 50px;
        width: 200px;
        margin-left: 60px;
        margin-top: -12px;
    }

    .frequent {
        padding: 15px 30px;
        font-size: 35px;
        margin-top: 50px;
    }

    .q1 {
        float: left;
        margin: 50px 20px;
    }

    .q2 {
        margin: 20px 20px;
        margin-bottom: 50px;
    }

    .ford {
        border: none;
        display: grid;
        grid-template-columns: auto;
        margin-top: 100px;
    }

    .fordimg {
        display: none;
    }

    .fordimg1 {
        height: 200px;
        width: 250px;
        margin: 20px 10px;
    }

    .last {
        background-color: rgb(30, 30, 83);
        display: grid;
        grid-template-columns: auto;
        margin: 50px 20px;
    }

    .lasttext {
        color: white;
        padding: 100px 40px;
        margin-bottom: 80px;
        margin-top: -50px;
    }

    .line {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        margin: 20px 10px 20px 10px;
        border: none;
    }

    .roadmap {
        width: 100%;
        padding: 30px 130px;
        font-size: 20px;
    }

    .bar {
        display: none;
    }

    .entry:before {
        display: none;
    }

    .timeline {

        padding: 0;
        display: grid;
        grid-template-columns: auto;
        width: 100%;
    }

    .entry:after {
        margin-top: 90px;
        border: 3px solid orange;
    }

    .entry h1 {

        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-top: 90px;
    }

    .entry {
        vertical-align: top;
        font-size: 12px;
        text-align: center;
        position: relative;

    }

    #road {
        background-color: white;
        height: 100px;
        width: 340px;
        margin-left: 10px;
    }

    #now {
        background: linear-gradient(to right, #ff3300 0%, #ffff00 100%);
        margin-top: -10px;
        font-size: 20px;
    }

    #logo {
        float: left;
        margin-left: 10px;
    }

    li a {
        display: none;
    }

    .icon {
        margin-left: 135px;
        margin-top: 20px;
    }

    li a {
        display: none;
    }
}